[submodule "Leaprezi"]
	path = Leaprezi
	url = https://github.com/Apidcloud/Leaprezi
[submodule "leapreel"]
	path = leapreel
	url = https://github.com/Apidcloud/leapreel
[submodule "LeapStreet"]
	path = LeapStreet
	url = https://github.com/Apidcloud/LeapStreet
