[submodule "Leaprezi"]
	path = Leaprezi
	url = https://github.com/Apidcloud/Leaprezi
[submodule "leapreel"]
	path = leapreel
	url = https://github.com/Apidcloud/leapreel
[submodule "LeapStreet"]
	path = LeapStreet
	url = https://github.com/Apidcloud/LeapStreet
[submodule "mandelbrot-orbit"]
	path = mandelbrot-orbit
	url = https://github.com/Apidcloud/mandelbrot-orbit
[submodule "logistic-map"]
	path = logistic-map
	url = https://github.com/Apidcloud/logistic-map
[submodule "chaos-game"]
	path = chaos-game
	url = https://github.com/Apidcloud/chaos-game
